.App {
  text-align: center;
}
:root{
  --themeblue: #2274A5;
}
.adCard{
 
  position: relative;
  height: 600px;
 width: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 
 color: #2274A5;
 
}
.rtrip .city .label{
  margin-bottom: 2px;
}
.rtrip .city
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rtrip{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vline{
  width: 0;
  height: 8px;
  border-left: 0.5px dashed;
  margin: 0;
  text-align: center;
}
.canvasContainer{
  display: table;
  width: 600px;
  overflow: hidden;
  border:none;
  margin: 0;
}

.adCard .bgImgContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  
  
}
.bgImgContainer img{
  position: absolute;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  left: 0;
  top: 0;
}
.adCard .logosvg{
  position: relative;
  
  margin: 0;
}
.adCard .textContent{
  position: relative;
  z-index: 2;
  display: table;
  background: rgba(255, 255, 255, 0.81);
  width: 65%;
  margin: 0 auto;
  font-size: 0.7rem;
  padding-bottom: 1rem;
  border-radius: 13px;
  padding-right: 10px;
  padding-left: 10px;
  backdrop-filter: blur(2px);
}
.dn{
  display: block;
  position: relative;
 height: 0px;
  overflow: hidden;
  padding: 0;
  width: 0;
}
.adCard .priceBox .svgContainer{
  position: absolute;
  bottom: -8px;
  left: -6px;
}
.adCard .priceBox{
  position: relative;
  background: white;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 13px;
  text-align: center;
  flex-wrap: wrap;
  padding: 12px 1px;
}
.adCard .priceBox .price{
  display: flex;
  font-weight: 800;
  height: auto;
  text-align: center;
  font-size: 35px;
 
}
.adCard h3{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.adCard h3::after{
  content: "";
  position: relative;
 display: table;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid;

}


.adCard .date{
  font-weight: 600;
}
.adCard .date .thinner{
  font-weight: 300;
}
.adCard .priceBox .price:before{
  content: "\20AC";
  font-size: 0.5em;
  align-self: flex-start;
  position: relative;
  top:-0.5em;
  
 
}
.adCard .priceBox::after{
 

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
